<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    </head>
    <body>
        <h3>Cadastro de eventos:</h3>
        <form method="POST">
            Nome: <input type="text" value="" name="nome"/>
            Local: <input type="text" value="" name="local"/>
            Data: <input type="date" value="" name="data"/>
            Horário: <input type="text" value="" name="horario"/>

            <button type="submit">Salvar</button>
        </form>
    </body>
</html>